.list {
  list-style-type: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
}

.info {
  display: flex;
  gap: 10px;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 120px;
  text-align: start;
  padding-left: 12px; */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  font-weight: 500;
  transition: background-color 250ms ease-in-out, border 250ms ease-in-out;
  outline: none;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  background-color: #a2b4e3fd;
  border-color: #a2b4e3fd;
}
